
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }
         
  .btn-grad {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    font-family: cursive;
    padding: 5px 10px;
    margin:5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: midnightblue;
    text-decoration: none;
  }
 
           
  .btn-grad2 {
    background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%);
    font-family:cursive;
    padding: 28px 25px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    line-height:3;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 